<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<div class="col-sm-6 col-lg-6">
  <h4><%= link_to 'New Course', new_course_path %></h4>
    <% @courses.each do |c| %>
      <%= render 'course', course: c %>
    <% end %>
  <br>
</div>
